/* app css stylesheet */

body {
    /*    padding-top: 10%;*/
}

.content-container {
    padding-top: 10%;
    position: fixed;
    /*    padding: 0;*/
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../images/bg-pattern.png");
    background: url("../images/home_page_cheers.jpg"), -webkit-linear-gradient(to left, #4d88ff, #00b38f);
    background: url("../images/home_page_cheers.jpg"), linear-gradient(to left, #4d88ff, #00b38f);
    color: white;
    overflow-y: hidden;
}

.center-text {
    text-align: center;
}

.fadedBackground {
    background-color: rgba(0, 0, 0, 0.7);
}

.styled-select {
    color: black;
    height: 29px;
    overflow: hidden;
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.styled-select.slate {
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.space-bottom {
    padding-bottom: 5%;
}

.space-top {
    padding-top: 5%;
}

.preferenceBoxes select {
    color: black;
    height 10em;
    width: 100%;
}