body {
    /*    padding-top: 10%;*/
}

.content-container {
    padding-top: 5%;
    /*
    min-height: 100%;
    width: 100%;
    height: auto;
*/
    /*    top: 0;*/
    color: white;
}

@media screen and (max-width: 1024px) {
    .home-content {
        padding-top: 15%;
        left: 50%;
        /*        margin-left: -512px;*/
    }
}

.logo {
    height: 150%;
}

.home-content {
    background: url("../images/home_page_cheers.jpg"), no-repeat center center fixed;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

#homeBg {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.signIn-content {
    background: url("../images/sign_in_crowded_bar.jpg");
    background: url("../images/sign_in_crowded_bar.jpg"), -webkit-linear-gradient(to left, #4d88ff, #00b38f);
    background: url("../images/sign_in_crowded_bar.jpg"), linear-gradient(to left, #4d88ff, #00b38f);
}

.citySelection-content {
    background: url("../images/city_selection_map_overview.jpeg");
    background: url("../images/city_selection_map_overview.jpeg"), -webkit-linear-gradient(to left, #4d88ff, #00b38f);
    background: url("../images/city_selection_map_overview.jpeg"), linear-gradient(to left, #4d88ff, #00b38f);
}

.preferenceSelection-content {
    background: url("../images/preference_selection_drink_options.jpeg");
    background: url("../images/preference_selection_drink_options.jpeg"), -webkit-linear-gradient(to left, #4d88ff, #00b38f);
    background: url("../images/preference_selection_drink_options.jpeg"), linear-gradient(to left, #4d88ff, #00b38f);
}

.mapPlotting-content {
    background: url("../images/map_plotting_screen_bar.jpeg");
    background: url("../images/map_plotting_screen_bar.jpeg"), -webkit-linear-gradient(to left, #4d88ff, #00b38f);
    background: url("../images/map_plotting_screen_bar.jpeg"), linear-gradient(to left, #4d88ff, #00b38f);
}

.user-profile {
    background: url("../images/user_profile_drink_range.jpeg"), no-repeat center center fixed;
    min-height: 100%;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    color: black;
}

#directions-panel {
    background-color: white;
}

.center-text {
    text-align: center;
}

.fadedBackground {
    background-color: rgba(0, 0, 0, 0.7);
}

.styled-select {
    color: black;
    height: 29px;
    /*    overflow: hidden;*/
    width: 240px;
}

.styled-select select {
    background: transparent;
    border: none;
    font-size: 14px;
    height: 29px;
    padding: 5px;
    /* If you add too much padding here, the options won't show in IE */
    width: 268px;
}

.styled-select.slate {
    height: 34px;
    width: 240px;
}

.styled-select.slate select {
    border: 1px solid #ccc;
    font-size: 16px;
    height: 34px;
    width: 268px;
}

.space-bottom {
    padding-bottom: 5%;
}

.space-top {
    padding-top: 5%;
}

.space-all-around {
    padding: 2%;
}

.preferenceBoxes select {
    color: black;
    width: 100%;
    padding: 5px 8px;
}

.user-profile {
    background-color: dimgray;
}