<div class="content-container citySelection-content">
    <div class="container center-text">
        <div class="row space-bottom fadedBackground center-text">
            <h1>Planning a night out in...</h1>
            <select class="styled-select slate" ng-model="citySelection" ng-change="onCityChange(citySelection)">
                <option ng-repeat="city in cities" value="{{city.name}}" ng-disabled="city.disabled">{{city.name}}</option>
            </select>
        </div>
        <div class="row space-bottom fadedBackground">
            <h1>Drag marker to current location</h1>
            <map zoom="14" center="{{currentPosition}}" style="height:90%">
                <marker position="{{currentPosition}}" draggable="true" on-dragend="logLatLng()"></marker>
            </map>
            <div class=".col-xs-6 space-top">
                <a href="#/preferenceSelection" ng-show="continueVisibility" class="btn btn-outline btn-xl page-scroll">Continue!</a>
            </div>
        </div>
    </div>
</div>