<!--
<h2>{{name}}</h2>

<h2>{{uid}}</h2>
<h2>{{email}}</h2>
<h2>{{emailVerified}}</h2>-->

<header>
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Planning a night out in... </h1>
                        <select class="styled-select slate" ng-model="citySelection" ng-change="onCityChange(citySelection)">
                            <option ng-repeat="city in cities" value="{{city.name}}" ng-disabled="city.disabled">{{city.name}}</option>
                        </select>

                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Going out with... </h1>
                        <select class="styled-select slate" ng-model="numFriends" ng-change="onNumFriendsChange(numFriends)">
                            <option ng-repeat="num in numFriends" ng-disabled="num.disabled" value="{{num.name}}">{{num.name}}</option>
                        </select>
                        <h1>friends.</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>