<div class="content-container signIn-content">
    <div class="container">
        <div class="row center-text fadedBackground space-bottom space-top">
            <div class="col-md-8 col-md-offset-2">
                <h1>Sign In!</h1>
                <p>Select one of the sign in options below!</p>
                <div class="badges">
                    <a class="btn btn-lg btn-social-icon btn-google" ng-click="login('google')">
                        <span class="fa fa-google"></span>
                    </a>
                    <a class="btn btn-lg btn-social-icon btn-facebook" ng-click="login('facebook')">
                        <span class="fa fa-facebook"></span>
                    </a>
                    <a class="btn btn-lg btn-social-icon btn-github" ng-click="login('github')">
                        <span class="fa fa-github"></span>
                    </a>
                    <a class="btn btn-lg btn-social-icon btn-twitter" ng-click="login('twitter')">
                        <span class="fa fa-twitter"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>